In [19]:
! pip install pandas

In [20]:
import pandas as pd

In [21]:
s = pd.Series([1,2,3,4])
type(s)
s1= pd.Series([1,2,3,4], index = ['A','B','C','D'])

In [22]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [23]:
data = [[1,444,'abc'],
        [2,555,'def'],
        [3,666,'ghi'],
        [4,444,'xyz']
        ]
data_2 = {'ID':[1,2,3,4],
        'std_id_dict':[444,555,666,444],
        'dept': ['abc' , 'def' ,'ghi', 'xyz' ]}

df = pd.DataFrame(data,columns=['ID','std_id','Depi'])
df

   ID  std_id Depi
0   1     444  abc
1   2     555  def
2   3     666  ghi
3   4     444  xyz

In [24]:
df.columns

Index(['ID', 'std_id', 'Depi'], dtype='str')

In [25]:
index =['row1','row2','row3','row4']
df.index = index 
display(df)

      ID  std_id Depi
row1   1     444  abc
row2   2     555  def
row3   3     666  ghi
row4   4     444  xyz

In [26]:
class Person:
    def __init__(self,name):
        self.name = name
    @property
    def getInfo(self):
        return f"My Name is {self.name}"

In [27]:
p1 = Person("Basmala")
p1.getInfo

'My Name is Basmala'

In [28]:
df.dtypes

ID        int64
std_id    int64
Depi        str
dtype: object

In [29]:
df['Depi'].dtype